// Define variables for your color scheme
$pink: #FE3692;

// Bootstrap colors
$red: #FD1015;
$blue: #0F0042;
$yellow: #F9B300;
$orange: #FF4D00;
$green: #0FE8D6;
$gray: #1E1E1E;
$light-gray: #DDDCE3;

