.logo {
  height: 30px;
  margin-top: 14px;
}

.main-container {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.profil_user {
  margin: 30px 15px 30px 30px;
  padding: 2rem 1rem;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  color: $blue;

}

.dashboards-matches .profil_user {
  flex: 0 0 350px;
  height: auto;
}

.profil_user ul {
  font-size: 12px;
  display: inline;
  list-style-type: none;
  padding: 0;
  > li {
    width: max-content;
  }
}

.profil-content {
  margin: 30px 30px 15px 15px;

  &.profil-content-matches {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    .main-content {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin-bottom: 50px;
    }
  }
}

.profil-content section{
  min-height: 618px;
  display: flex;
  flex-direction: column;
}

.profil-content .btn-cta{
  text-decoration: none;
  color: white;
  background-color: #FF4D00;
  padding: 8px 24px;
  border: 1px solid #FF4D00;
  border-radius: 50px;
  opacity: 1;
  transition: background 0.3s ease;
  padding: 1.2rem 2.9rem;
  margin-top: 250px
}

.main-content {
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-wrap: flex;
}

.main-content ul {
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.menu_vertical {
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  height: 100%
;
}

.menu_vertical ul {
  list-style-type: none;
  margin-top: 50px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

.orange-color{
  color: $orange;
}

.blue-color{
  color: $blue;
}
