#locked-screen {
  position: absolute;
  left: 45%;
  top: 40%;
  margin: auto;
}

.chatroom #locked-screen{
    position: absolute;
    left: 11.5%;
    top: 63%;
    margin: auto;
  }

.blocked-content {
  filter: blur(6px);
}

.main-content-show {
  border-radius: 20px;
  background-color: white;
  margin: 0 0 15px 0;
  padding: 30px 30px 40px 30px;
  height: fit-content;
}

.highlights-content {
  display: flex;
  flex-wrap:wrap;
  gap: 4em;
  justify-content: flex-start;
}

.main-content ul {
  font-size: 12px;
  display: inline;
  list-style-type: none;
  padding: 0;
  > li {
    width: max-content;
  }
}

.profil-content-show {
  margin: 30px 30px 30px 15px;

  &.profil-content-project {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    .main-content {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin-bottom: 50px;
    }
  }
}

.users-show .main-content {
  display: block;
}

.user-show-project {
  color: transparent;
  flex-direction: column;
}

#connect-user {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: white;
  background-color:$orange;
  margin-top: 10px;
  height: 40px;
  border-radius: 0px 0px 20px 20px;
  align-items: center;
  font-size: 22px;
}

h5 {
  margin-bottom: 0;
  color: $orange;
}

i {
  display: flex;
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.project-label {
  margin-right: 10px;
  font-size: 18px;
  grid-column: span 1;
}

.project-text {
  font-size: 14px;
  vertical-align: middle;
  border-left: 2px solid $yellow;
  padding-left: 10px;
  grid-column: span 4;
}

.box-highlights {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.users-show {

  .profil-content {
    margin: 15px 0px;
  }

  .profil_user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    flex: 0 0 350px;
    height: fit-content;
  }

  .profil-content.profil-content-matches {
    border-radius: 20px;
  }

  .main-content-show {
    border-radius: 20px;
  }
}

.users-show .profil_user ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.name-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
  margin: 5px;

  h4 {
    line-break: anywhere;
    text-align: left;
  }
}

.bloc {
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.list-tags-user li {
 font-size: 13px;
}

.location-title {
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.list-tags-user-show li {
  font-size: 13px;
}
