.blocked-content {
  color: transparent;
  text-shadow: 0 0 8px #000;
}

.main-content-show {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-wrap: flex;
}

.main-content ul {
  font-size: 12px;
  display: inline;
  list-style-type: none;
  padding: 0;
  > li {
    width: max-content;
  }
}

.profil-content-show {
  height: 100%;
  overflow-y: auto;
  margin: 30px 30px 30px 15px;

  &.profil-content-project {
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    .main-content {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin-bottom: 50px;
    }
  }
}

.users-show .main-content {
  display: block;
}

.users-show .profil-content-show {
  width: 100%;
}

.user-show-project {
  color: transparent;
  flex-direction: column;
}

.users-show .main-container {
  margin-right: 6rem;
}

#connect-user {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: white;
  background-color:$blue;
}

h5 {
  margin-bottom: 0;
}

i {
  display: flex;
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.project-label {
  margin-right: 10px;
  font-size: 18px;
  grid-column: span 1;
}

.project-text {
  font-size: 14px;
  vertical-align: middle;
  border-left: 2px solid $yellow;
  padding-left: 10px;
  grid-column: span 4;
}
