<div class="navbar navbar-expand-sm navbar-light navbar sticky-top">

  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo_coFound_2.svg"%>
    <% end %>

    <div class= "nav-item">
      <%= link_to "Sign up", "#", class: "nav-link" %>
    </div>
  </div>
</div>
