<div class="menu_vertical">
  <ul>
    <li class="mb-5"><%= image_tag "new.svg", class: "btn-circle-new"%></li>
    <li class="mb-5"><%= image_tag "message.svg", class: "btn-circle-message"%></li>
    <li class="mb-5"><%= image_tag "handshake.svg", class: "btn-circle-profil"%></li>
    <li class="mb-5"><%= image_tag "project.svg", class: "btn-circle-project"%></li>
  </ul>
</div>
