<div class="menu_vertical">
  <ul>
    <%= link_to :back, class:"text-decoration-none" do %>
      <li class="btn-circle-back"></li><p class="mb-5">Back</p>
    <% end %>

    <%= link_to matches_dashboards_path, class:"text-decoration-none text-center" do %>
      <li class="btn-circle-matches"></li><p class="mb-5">Matches</p>
    <% end %>

    <%= link_to messages_dashboards_path, class:"text-decoration-none text-center" do %>
      <li class="btn-circle-message"></li><p class="mb-5">Chat</p>
    <% end %>

    <%= link_to project_dashboards_path, class:"text-decoration-none text-center" do %>
      <li class="btn-circle-project"></li><p class="mb-5">Project</p>
    <% end %>
  </ul>
</div>
