<div class="menu_vertical">
  <ul>
    <%= link_to "Update your profil", "#", class: "btn-circle-new" %></li>
    <%= link_to "Update your profil", "#", class: "btn-circle-message" %></li>
    <%= link_to "Update your profil", "#", class: "btn-circle-profil" %></li>
    <%= link_to "Update your profil", "#", class: "btn-circle-project" %></li>
  </ul>
</div>
