<div class="menu_vertical">
  <ul>
    <%= link_to matches_dashboards_path do %>
      <li class="mb-5 btn-circle-matches"></li>
    <% end %>

    <%= link_to favprofils_dashboards_path do %>
      <li class="mb-5 btn-circle-profil"></li>
    <% end %>

    <%= link_to messages_dashboards_path do %>
      <li class="mb-5 btn-circle-message"></li>
    <% end %>

    <%= link_to project_dashboards_path do %>
      <li class="mb-5 btn-circle-project"></li>
    <% end %>
  </ul>
</div>
