<div class="menu_vertical">
  <ul>
    <%= link_to "matches", matches_dashboards_path, class: "btn-circle-new mb-5"%>
    <%= link_to "fav profils",favprofils_dashboards_path, class: "btn-circle-new  mb-5"%>
    <%= link_to "messages",messages_dashboards_path, class: "btn-circle-message  mb-5"%>
    <%= link_to "project",project_dashboards_path, class: "btn-circle-message  mb-5"%>

  </ul>
</div>
