<div class="main-container">
  <%= render "shared/user-sidebar" if action_name == "dashboard" %>
    <div class="profil-content">
      <h3>Dashboard</h3>
      <div class="main-profil-content">
        <%= render "shared/card-user" %>
      </div>
    </div>
  <%= render "shared/sidebar" %>
</div>
