<div class="main-container">
  <div class="banner">
    <div class="container-banner p-5 w-100">
      <div class="d-flex align-items-center w-100">
        <h1 class="flex-grow-1"><span data-controller="typed-js"></span></h1>
        <%= image_tag "Logo_coFound_2.svg", width:"500px" %>
      </div>
        <%= link_to "Find your matches", matches_dashboards_path, class: "btn-cta" %>
    </div>
  </div>
</div>
