<div class="main-container home">
  <div class="banner home">
    <div class="container-banner home w-50 p-5" style="
    background-color: transparent" >
      <h1><span data-controller="typed-js"></span></h1>
      <p>With Cofound, you can find the perfect business partner for an entrepreneurial adventure.</p>
      <%= link_to "Find your matches", matches_dashboards_path, class: "btn-cta" %>
    </div>
    <div class ="home banner-img w-50 h-100 p-5 img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(<%= image_path 'HP_cover.svg'%>);"></div>
  </div>
</div>
