<div class="main-container">
  <div class="banner">
    <div class="container-banner w-50 p-5">
      <h1><span data-controller="typed-js"></span></h1>
      <p>With Cofound, you can find the perfect business partner for an entrepreneurial project and embark on an adventure that meets your needs, expectations and dreams.</p>
      <%= link_to "Find your matches", matches_dashboards_path, class: "btn-cta" %>
    </div>
    <div class ="banner-img w-50 h-100 p-5 img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(<%= image_path 'HP_cover.svg'%>);"></div>
  </div>
</div>
