<div class="main-container">
  <div class="profil-content">
    <h3>3 Matches</h3>
    <div class="main-content">
      <%= render partial: "shared/card-user-matches", locals: {users: @matches} %>
    </div>
  </div>
</div>
