<div class="container chatroom">
<h3><%= "Last conversations" %></h3>
  <div class="messages">
    <% @selections.each do |selection| %>
      <%= render "messages/message", message: selection.messages.last %>
    </div>
  <% end %>
</div>
