.btn-tag {
  text-decoration: none;
  color: $blue;
  border: 1px solid $blue;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.5;
}

.btn-cta {
  text-decoration: none;
  color: white;
  background-color: $orange;
  padding: 8px 24px;
  border: 1px solid $orange;
  border-radius: 50px;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-cta:hover {
  background: $orange;
  color: white;
  opacity: 0.8;
}

.btn-yellow {
  text-decoration: none;
  color: white;
  background-color: $yellow;
  padding: 8px 24px;
  border: 1px solid $yellow;
  border-radius: 50px;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-yellow:hover {
  background: $yellow;
  color: white;
  opacity: 0.8;
}

.btn-circle-message {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("message.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-message:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("message_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-orange-message {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("message_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  opacity: 1;
  background-color: $orange;
  transition: background 0.3s ease;
}

.btn-circle-orange-message:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("message_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 65%;
  opacity: 0.8;
  background-color: $orange;
}

.btn-circle-project {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("project_outline_bleu.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-project:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("project_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-profil {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("handshake.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-profil:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("handshake_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-matches {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("matches_outline_bleu.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-matches:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("matches_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-heart {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("heart_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 1;
  background-color: $orange;
}

.btn-circle-cross {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("cross.svg") no-repeat;
  background-position: center;
  background-size: 40%;
  opacity: 1;
}
.btn-circle-cross:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("cross.svg") no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0.6;
}
