#btn-scrollUp {
  position: fixed;
  bottom : 60px;
  right: 30px;
  height: 30px;
}

  #btn-scrollUp i {
    color :$yellow;
  }

.btn-tag {
  font-size: 11px;
  color: $blue;
  border: 1px solid $blue;
  padding: 4px 9px;
  border-radius: 10px;
  font-weight: 500;
  margin: 3px;
}

#carouselExample .btn-tag{
  font-size: 15px;
  color: $blue;
  border: 1px solid $blue;
  padding: 4px 9px;
  border-radius: 10px;
  font-weight: 500;
  margin: 3px;
}

.btn-cta {
  text-decoration: none;
  color: white;
  background-color: $orange;
  padding: 8px 24px;
  border: 1px solid $orange;
  border-radius: 50px;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-cta:hover {
  background: $orange;
  color: white;
  opacity: 0.8;
}

.btn-yellow {
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: $yellow;
  padding: 8px 24px;
  border: 1px solid $yellow;
  border-radius: 50px;
  opacity: 1;
  transition: background 0.3s ease;
  display: inline-block;
}



.btn-yellow:hover {
  background: $yellow;
  color: white;
  opacity: 0.8;
}

.btn-circle-message {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("message.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-message:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("message_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-orange-message {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("message_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  opacity: 1;
  background-color: $orange;
  transition: background 0.3s ease;
}

.btn-circle-orange-message:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("message_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 65%;
  opacity: 0.8;
  background-color: $orange;
}

.btn-circle-project {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("project_outline_bleu.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-project:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("project_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-profil {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("handshake.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-profil:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("handshake_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-matches {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("matches_outline_bleu.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  transition: background 0.3s ease;
}

.btn-circle-matches:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("matches_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 65%;
}

.btn-circle-back {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("back_outline_bleu.svg") no-repeat;
  background-position: center;
  background-size: 40%;
  transition: background 0.3s ease;
}

.btn-circle-back:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("back_outline_orange.svg") no-repeat;
  background-position: center;
  background-size: 55%;
}

.btn-circle-heart {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("heart_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 55%;
  opacity: 1;
  background-color: $orange;
}

.btn-circle-heart:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $orange;
  background: asset-url("heart_outline_blanc.svg") no-repeat;
  background-position: center;
  background-size: 65%;
  opacity: 0.8;
  background-color: $orange;
}

.btn-circle-cross {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("cross.svg") no-repeat;
  background-position: center;
  background-size: 40%;
  opacity: 1;
}
.btn-circle-cross:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $blue;
  background: asset-url("cross.svg") no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0.6;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
