.card-user {
  height: 100%;
  width: 300px;
  margin: 10px;
  padding: 15px;
  font-size: 10 px;
  background-color: white;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > .my-3 {
    flex-grow: 1;
  }
  > li {
    margin: 5px 0;
    text-align: center;
  }
}

.card-user > ul {
  font-size: 10px;
  display: inline;
  list-style-type: none;
  padding: 0;
  > li {
    width: max-content;
  }
}

.card-ribbon-pending {
  top: 7px;
  left: -38px;
  position: relative;
  transform: rotate(-45deg);
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 107px;
  background-color: $yellow;
}

.card-ribbon-accepted {
  top: 7px;
  left: -38px;
  position: relative;
  transform: rotate(-45deg);
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 107px;
  background-color: $blue;
}

#carouselExample .card-user {
  width: 75%;
  margin: 10px auto;
  font-size: 20px;
  max-width: 800px;
}

#carouselExample .card-user > ul {
  font-size: 30px;
  display: inline;
  list-style-type: none;
  padding: 0;
  > li {
    width: max-content;
  }
}

#carouselExample button{
  filter: brightness(0.5);
}

#carouselExemple{
  justify-content: center;
}

.cards-suggestions {
  display: flex;
  // grid-auto-columns: 100%;
  // grid-column-gap: 10px;
  // grid-auto-flow: column;
  padding-bottom: 25px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-suggestion {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  // box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.1s;
}


.cards-suggestions::-webkit-scrollbar {
  height: 12px;
}

.cards-suggestions::-webkit-scrollbar-thumb,
.cards-suggestions::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards-suggestions::-webkit-scrollbar-thumb {
  background: var(--darkorange);
}

.cards-suggestions::-webkit-scrollbar-track {
  background: var(--thumb);
}

:root {
  --orange: #fd9940;
  --darkorange: #FF4D00;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

a {
  text-decoration: none;
}

.users-show {
  display: flex;
  flex-direction: column;
  .user-sidebar-top {
    flex-grow: 1;
  }

.profil-bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
}
}

.user-sidebar-top .btn-yellow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
  background: transparent;
  color: #F9B300;
  i {
    position: relative;
    left: 1px;
  }
}
