.card-user {
  width: 300px;
  margin: 10px;
  padding: 15px;
  font-size: 10 px;
  background-color: white;
  justify-content: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > .my-3 {
    flex-grow: 1;
  }
  > li {
    margin: 5px 0;
    text-align: center;
  }
}

.card-user > ul {
  font-size: 10px;
  display: inline;
  list-style-type: none;
  padding: 0;
  > li {
    width: max-content;
  }
}

.card-ribbon {
  top: 7px;
  left: -38px;
  position: relative;
  transform: rotate(-45deg);
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  width: 107px;
  background-color: $yellow;
}
