.chatroom {
  border-radius: 20px;
  padding: 30px 0rem;
  background: white;
  margin: 15px 0;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

  .chatroom-content {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    position: relative;
    max-width: 100%;
    min-height: 30px;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: light;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  #new_message {
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
    padding: 0 30px;
  }

  .btn_cta_message {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    padding: 0;
    position: relative;
    right: 1.4rem;
    text-decoration: none;
    color: white;
    background-color: $orange;
    border: 1px solid $orange;
    opacity: 1;
    transition: background 0.3s ease;
}

.btn_cta_message:hover {
  background: $orange;
  color: white;
  opacity: 0.8;
}

.MessageAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
  margin-right: 10px;
}

.MessageItem {
	padding: 1rem 0 0 0;
	opacity: 0;
	transition: all 0.15s ease-in-out;
	animation: fadeNewMessage 0.5s;
	animation-fill-mode: forwards;
}

.MessageItemleft {
	float: left;
	text-align: left;
	margin: 0 0 0 1rem;
	color: #fff;
	background-color: #4870df;
}

.convSendMessage {
	position: relative;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
}

.convButton {
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	padding: 8px;
	border-radius: 30px;
	color: #fff;
	background-color: #4870df;
	text-align: center;
	box-shadow: 0px 14px 10px -8px rgba(0,0,0,0.2);
	transition: 0.15s all ease-in-out;
	box-sizing: border-box;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.convButton:hover {
	background-color: #3c559c;
}

.convInput {
	float: left;
	height: 40px;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	margin: 0 0.5rem 0 0;
	width: calc(100% - 52px);
	background-color: #dedfed;
	box-shadow: inset 0 0 0 2px #dedfed;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	transition: 0.15s all ease-in-out;
	box-sizing: border-box;
}

.convSendMessage {
	position: relative;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
}
