.navbar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background: #000000;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 150px;
}

.navbar .nav-link {
  color: $blue;
}
